{% extends 'app/dashboard_link.html' %}
{% load static %}
{% block content %}
       
<section  style="margin-top: 100px; margin-bottom:100px;"> 
    <div class="u-s-p-b-60">
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        {% include 'app/dash-include.html' %}
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                                <h2 class="dash__h2 u-s-p-xy-20"><b>REFUNDS</b></h2>
                                <h2 class="dash__h2 u-s-p-xy-20">To apply for a refund kindly fill out the form below.</h2>
                                    <div class="dash__table-wrap gl-scroll">
                                        <table class="dash__table">
                                            <thead>
                                                <tr>
                                                    <th>Order #</th>
                                                    <th>ref code</th>
                                                    <th>Ordered date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in queryset %}
                                                {% if order.get_status_display == "Refund requested" or order.get_status_display == "Refund declined" or order.get_status_display == "Refund granted" or order.get_status_display == "Refund completed" %}
                                                <tr>
                                                    <td>{{order.id}}</td>
                                                    <td>{{order.ref_code}}</td>
                                                    <td>{{order.ordered_date}}</td>
                                                    {% if order.get_status_display == "Refund granted" %}
                                                    <td><span class="manage-o__badge badge--shipped">Request accepted</span></td>
                                                    {% elif order.get_status_display == "Refund completed" %}
                                                    <td><span class="manage-o__badge badge--shipped">Refund completed </span></td>
                                                    {% elif order.get_status_display == "Refund requested" %}
                                                    <td><span class="manage-o__badge badge--processing">Processing</span></td>
                                                    {% elif order.get_status_display == "Refund declined" %}
                                                    <td><span class="manage-o__badge badge--delivered">Declined</span></td>
                                                    {% endif %}
                                                    <td>
                                                        <div class="dash__table-total">
                                                
                                                            <span>₽{{order.get_total}}</span>
                                                            <div class="dash__link dash__link--brand">
                                                
                                                                <a href="{% url 'order-detail' order.id %}">VIEW</a></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                        <nav class="post-center-wrap u-s-p-y-60">
                            <ul class="blog-pg">
                                {% if queryset.has_previous %}
                                <li><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}">{{queryset.previous_page_number}}</a></li>
                                {% endif %}
                                <li class="blog-pg--active"><a href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number }}</a></li>
                                {% if queryset.has_next %}
                                <li><a class="fa fa-angle-right" href="?{{ page_request_var }}={{ queryset.next_page_number }}"></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    
                        {% if is_paginated %}
                        <nav class="post-center-wrap u-s-p-y-60">
                            <ul class="blog-pg">
                                {% if page_obj.has_previous %}
                                <li><a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}">{{page_obj.previous_page_number}}</a></li>
                                {% endif %}
                                <li class="blog-pg--active"><a href="?{{ page_request_var }}={{ page_obj.number }}"></a>{{ page_obj.number }}</li>
                                {% if page_obj.has_next %}
                                <li><a class="fa fa-angle-right" href="?{{ page_request_var }}={{ page_obj.next_page_number }}"></a></li>
                                {% endif %}
                                </ul>
                        </nav>
                        {% endif %}
                    </div>
 
            
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                            <div class="container">
                                <h2 class="dash__h2 u-s-p-xy-20"><b>Required fields are marked *</b></h2>
                                <form method="POST" action="." class="respond__form">
                                    {% csrf_token %}
                                    <div class="respond__group">
                                        <div class="u-s-m-b-15">

                                            <label class="gl-label" for="comment">REASON *</label><textarea class="text-area text-area--primary-style" id="comment" name="reason" required></textarea></div>
                                        <div>
                                            <p class="u-s-m-b-30">

                                                <label class="gl-label" for="responder-name">REF CODE *</label>

                                                <input class="input-text input-text--primary-style" type="text" id="responder-name" name="ref_code" required></p>
                                                <div>

                                                    <button class="btn btn--e-brand-shadow" type="submit">REQUEST REFUND</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>
    </section>

{% endblock %}
